name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a multi-line script
      run: |
        curl -s http://mirror.ctan.org/systems/texlive/tlnet/install-tl-windows.exe
        echo test, and deploy your project
      shell: bash
