name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Perl
      run: |
        choco install strawberryperl
        echo "##[add-path]C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"
    - name: perl -V
      run: perl -V
    - name: Install Dependencies
      run: curl -sL https://git.io/cpm | perl - install -g --show-build-log-on-failure
    - name: Run a multi-line script
      run: |
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl.zip
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl-windows.bat
    - name: Run a install-tl-windows.bat
      run: |
        unzip install-tl.zip -d .
        ./install-tl-windows.bat --profile texlive.profile
      if: always()
      shell: cmd
