name: CI
env:
  cache-version: v3
on: [push]

jobs:
  windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up PATH
      run: |
        echo "##[add-path]C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"
        echo "##[add-path]D:\texlive\bin\win32"
    - name: Cache TeX Live
      id: cache-texlive
      uses: actions/cache@v1
      with:
        path: D:\texlive
        key: ${{ env.cache-version }}-${{ runner.os }}-texlive-essential
        restore-keys: |
          ${{ env.cache-version }}-${{ runner.os }}-texlive-essential
    - name: Download install-tl.zip
      run: |
        curl -s -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl.zip
        unzip -q install-tl.zip
        mv install-tl-2* install-tl-dir
      if: steps.cache-texlive.outputs.cache-hit != 'true'
    - name: Run install-tl-windows.bat
      run: |
        install-tl-dir\install-tl-windows.bat --profile texlive_windows.profile
      if: steps.cache-texlive.outputs.cache-hit != 'true'
      shell: cmd
    - name: Run tlmgr install
      run: |
        tlmgr update --self
        tlmgr install latex-bin platex uplatex tex xetex
        tlmgr install amsmath graphics tools latexmk
      if: steps.cache-texlive.outputs.cache-hit != 'true'
    - name: Run pdflatex
      run: |
        pdflatex t.tex
        rm t.pdf
    - name: Run latexmk
      run: |
        latexmk -pdf t.tex
  linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Set up PATH
      run: |
        echo "::add-path::/tmp/texlive/bin/x86_64-linux"
    - name: Cache TeX Live
      id: cache-texlive
      uses: actions/cache@v1
      with:
        path: /tmp/texlive
        key: ${{ env.cache-version }}-${{ runner.os }}-texlive-essential
        restore-keys: |
          ${{ env.cache-version }}-${{ runner.os }}-texlive-essential
    - name: Download install-tl.zip
      run: |
        curl -s -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl.zip
        unzip -q install-tl.zip
        mv install-tl-2* install-tl-dir
      if: steps.cache-texlive.outputs.cache-hit != 'true'
    - name: Run install-tl
      run: |
        install-tl-dir/install-tl --profile texlive_linux.profile
        echo $PATH
      if: steps.cache-texlive.outputs.cache-hit != 'true'
    - name: Run tlmgr install
      run: |
        tlmgr update --self
        tlmgr install latex-bin platex uplatex tex xetex
        tlmgr install amsmath graphics tools latexmk
      if: steps.cache-texlive.outputs.cache-hit != 'true'
    - name: Run pdflatex
      run: |
        pdflatex t.tex
        rm t.pdf
    - name: Run latexmk
      run: |
        latexmk -pdf t.tex
