name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Perl
      run: |
        echo "##[add-path]C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin"
    - name: Run a multi-line script
      run: |
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl.zip
        unzip -q install-tl.zip
        mv install-tl-2* install-tl-dir
    - name: Run a install-tl-windows.bat
      run: |
        install-tl-dir\install-tl-windows.bat --profile texlive.profile
      if: always()
      shell: cmd
    - name: Run tlmgr
      run: |
        ls -l C:\tmp\texlive\*
        tlmgr update --self
        tlmgr install latex-bin platex uplatex tex xetex
        tlmgr install amsmath graphics tools
      if: always()
