name: MikTeX on Linux
on: [push]

jobs:
  linux:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: Install MikTeX
      run: |
        sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys D6BC243565B2087BC3F897C9277A7293F59E4889
        sudo echo "deb http://miktex.org/download/ubuntu bionic universe" | sudo tee /etc/apt/sources.list.d/miktex.list
        sudo apt-get update
        sudo apt-get install miktex
        sudo miktexsetup --shared=yes finish
        sudo initexmf --admin --set-config-value [MPM]AutoInstall=1
    - name: Run tests
      with:
        run: npm run test
