name: CI

on: [push]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v1
    - name: Run a multi-line script
      run: |
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl-windows.exe
        curl -O -L http://mirror.ctan.org/systems/texlive/tlnet/install-tl-windows.bat
        echo done
    - name: Run a install-tl-windows.bat
      run: |
        ./install-tl-windows.bat --profile texlive.profile
      shell: cmd
